[Desktop Entry]
Name=stockoala
Exec=/home/eason/Desktop/stockoala/run.sh
Icon=/usr/share/icons/hicolor/512x512/icon.png
Terminal=true
Type=Application
[Desktop Entry]
Name=stockoala
Exec=/home/eason/Desktop/stockoala/run.sh
Icon=/usr/share/icons/hicolor/512x512/icon.png
Terminal=true
Type=Application
[Desktop Entry]
Name=stockoala
Exec=/home/eason/Desktop/stockoala/run.sh
Icon=/usr/share/icons/hicolor/512x512/icon.png
Terminal=true
Type=Application
